{% extends 'base.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="../../static/css/signup.css">
    <link rel="stylesheet" href="../../static/css/index.css">
{% endblock %}
{% block main %}
    <main class="bg-gray main-wrapper">
        <div class="container">
            <div class="profile-login">
                <div class="box">
                    <div class="row profile-login__container">
                        <div class="col-sm-6 hidden-xs login-modal__info">
                            <h5>نکاتی برای امنیت بیشتر</h5>
                            <ul>
                                <li>نام کاربری و رمز خود را در اختیار سایرین قرار ندهید.</li>
                                <li>از رمز عبوری استفاده کنید که حدس زدن آن برای دیگران غیرممکن باشد.</li>
                                <li>پس از خرید بلیط در فضاهای اشتراکی مثل کافی‌نت‌ها، حتما از حساب خود خارج شوید.
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6"  >
                            <form action="login" novalidate="novalidate"
                                  class="user-menu__login-form validated-form">
                                <div class="form-group">
                                    <label for="modal-login-email">ایمیل یا شماره همراه خود
                                        را وارد کنید</label>
                                    <input type="email" name="email" id="modal-login-email"
                                           tabindex="10" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="modal-login-password">
                                        رمز عبور خود را وارد کنید
                                    </label>
                                    <input type="password" name="password"
                                           id="modal-login-password" value="" class="form-control">
                                </div>
                                <a href="../admin" type="submit" class="btn btn-primary btn-block">
                                    وارد شوید
                                    <span class="dots" style="display:none;">...</span>
                                </a>
                            </form>
                            <a class="user-menu__forget-password">بازیابی رمز عبور</a>
                            <h5 class="user-menu__title">حساب کاربری ندارید؟</h5>
                            <a href="{% url 'signup' %}" class="btn btn-block btn-success login-page-sign-up">ثبت نام کنید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}